.home {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    margin: auto;
  }
  
  img {
    width: 1470px;
    height: 700px;
    justify-content: center;
    align-items: center;
  }

  
  .img .ke1{
    position: absolute;
    margin-bottom: 18rem;
  }
  
 
  
  .horizontal-grid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;
  }
  
  .grid {
    display: flex;
    background: white;
    padding: 2rem 10rem;
    position: absolute; 
    text-align: center;
    top: 38rem;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.23) 0 30px 30px -20px;
    
  
    label {
      display: block;
      color: black;
      padding-bottom: 4px;
      font-size: 14px;
      font-weight: 400; 
    }
  
    input {
      height: 40px;
      padding: 0 1rem;
      background: #c5cde9;
      border: none;
      outline: none;
      width: 100%;
      font-size: 12px;
      font-weight: 500;
      border-radius: 10px;
      
    }
  
    .btn {
      height: 40px;
      margin-top: 23px;
      background: #192655;
      padding: 0 2rem;
      border-radius: 10px;
      width: 100%;
      font-size: 14px;
      font-weight: 500;
      border: none; 
    }
  }
  
  .roomGuest select {
    border: none;
    outline: none;
    background-color: #c5cde9;
    padding: 0.6rem 2rem;
    border-radius: 10px;
  }
  
  .btn a {
    text-decoration: none;
    color: white;
  }
  
  .textContent {
    margin-top: 4rem; 
    font-size: 18px;
    text-align: center;
    margin-left: 10rem;
    margin-right: 10rem;
    margin-bottom: 20px;
  }

  
  
  .content3 .link{
    display: flex;
    gap: 7rem;
    padding-top: 1rem;
    margin-left: 4rem;
  }
  
.content3{
  display: flex;
  gap: 4rem;
  padding-bottom: 5rem;
}

.content3 img{
  margin-left: 10rem;
width: 90vh;
height: auto;
border-radius: 10px;
}

.content3 h1{
  margin-right: 12rem;
  font-size: 26px;
}

.content3 p{
  margin-right: 12rem;
  font-size: 16px;
}
 
  

  