*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }
  @font-face {
    font-family: "Poppins";
    src: url();
  }
  
  .background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-image: url("https://www.fourpointssurabaya.co.id/resourcefiles/gallery-image-sec_rightbot_left/subfp-galeri-3.jpg?version=1162024073317");
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    filter: blur(12px);
  }
  /* .conten {
    color: #fff;
    margin-top: 200px;
    text-align: center;
  } */
  
  .container {
      display: block;
      
      justify-content: center;
      align-items: center;
  }
  
  .box {
    width: 600px; /* Sesuaikan lebar box putih sesuai kebutuhan Anda */
    height: 600px; /* Sesuaikan tinggi box putih sesuai kebutuhan Anda */
    background-color: white;
    border: 1px solid #ccc; /* Optional: Tambahkan border sesuai kebutuhan */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Tambahkan efek bayangan */
    margin: auto;
    border-radius: 30px;
  }
  
  .header {
    padding-top: 48px;
    padding-left: 56px;
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 kolom pertama */
    grid-gap: 10px; /* Jarak antar kolom */
  }
  
  .item {
   
    padding: 20px;
    margin-top: 4px;
    margin-left: 48px;
    margin-right: 48px;
    text-align: center;
    font-size: 12px;
  }
  
  .h1 {
    text-align: center;
  }
  .label {
    text-align: center;
    margin-bottom: 5px; /* Jarak antara setiap label */
  }
  
  .form-login {
    border-radius: 15px;
    width: 770px;
    padding: 20px 16px;
    margin: 16px 0;
    box-sizing: border-box;
  }
  
  .submit-btn {
    margin-top: 10px; /* Jarak antara formulir dan tombol submit */
  }
  
  .logo {
    padding-left: 10px;
    width: 30px;
  }
  
  .text {
    font-size: 22px;
  
  }
  
  .submit-btn{
    display: inline-block;
    background: #4285F4;
    
    color: #fff;
    width: 770px;
    height: 44px;
    border-radius: 15px;
    border: thin solid #888;
    font-size: 16px;
    font-weight: normal;
    font-family: 'poppins', sans-serif;
  }
  
  .button {
    display: grid;
    place-items: center;
  }
  
  .tittle {
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    font-weight: bold;
  }
  
  